body {
    background-image: url('../Resimler/hakkımdaback.jpg');
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(80, 124, 135);
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: aliceblue;
}
p{
    color: #ffffff;
}
