body {
    background-image: url('../Resimler/indexback.jpg');
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

.container p {
    font-size: 48px;
    margin-bottom: 20px;
        color:darkslategray;
        align-items: center;
}

.saatcss{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}