/*BODY ÖZELLİKLERİ*/
body {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    

    padding-top: 60px;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Başlıkların özellikleri*/
h1,h2 {
    text-align: center;
    color: black;
}

.navbar-brand {
    font-size: 16px;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
}


p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 15px;
}

